.signup {
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
  background-color: rgba(13, 27, 42, 0.25);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  width: 30%;
  border-radius: 10%;
  padding: 5%;
}
.form-control {
  /* display: flex;
  align-content: center;
  justify-content: center; */
  border: 2px solid #e0e1dd;
  border-radius: 4px;
  display: black;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

button:hover {
  opacity: 0.5;
}
h1 {
  /* border-radius: 1px solid red; */
  /* width: 50%; */
  margin-top: -100px;
  font-size: 90px;
  margin-left: 40%;
  color: #1b263b;
  text-shadow: 2px 2px #e0e1dd;
}
.login {
  margin-top: 90px;
}
